

<div class="flex justify-center items-center md:mt-20 text-white ml-10 mr-10 md:ml-100 md:mr-100">
    <div class="grid grid-cols-1 justify-items-center md:grid-cols-3 md:mt-30">
        <div class="size-50 md:size-auto md:ml-10 md:col-start-3">
            <img class="rounded-full" src="./images/profilePhoto.png" alt="foto Manuel Bedoya">
        </div>
        <div class="col-span-2 md:col-start-1 md:row-start-1">
            <h1 class="ml-10 md:ml-auto text-4xl md:text-6xl mt-10">✌🏻 Hola! Soy Manuel</h1>
            <div class="h-5"></div>
            <p class="text-lg mt-10">Un desarrollador web, enfocado a dar soluciones de alta calidad para tu negocio, especializado en el desarrollo backend con lenguaje de programación Java y uso de framework SpringBoot para creación de microservicios y API’s , complementando con desarrollos en Astro, React con buenos conocimientos en HTML, CSS y JS para creación de páginas web dando la mejor experiencia de usuario.</p>
        </div>
    </div>
</div>