---
import AstroIcon from '../icons/AstroIcon.astro'
import PostgresIcon from '../icons/PostgresIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'
import SpringBootIcon from '../icons/SpringBootIcon.astro'
---

<div class="flex justify-center md:text-center items-center md:mt-20 text-white ml-10 mr-10 lg:ml-100 lg:mr-100">
    <div class="grid grid-cols-1 justify-items-center lg:grid-cols-3 lg:mt-30">
        <div class="size-50 lg:size-auto lg:ml-10 lg:col-start-3">
            <img class="rounded-full" src="./images/profilePhoto.png" alt="foto Manuel Bedoya">
        </div>
        <div class="col-span-2 lg:col-start-1 lg:row-start-1">
            <h1 class="ml-10 lg:ml-auto text-4xl lg:text-6xl mt-10">✌🏻 Hola! Soy Manuel</h1>
            <div class="h-5"></div>
            <p class="text-lg mt-10">Ingeniero CLOUD, enfocado a dar soluciones de alta calidad para tu negocio, especializado en el desarrollo backend para creación de microservicios y API’s , complementando con desarrollos y buenos conocimientos a nivel de FrontEnd para creación de páginas y aplicaciones web dando la mejor experiencia de usuario.</p>
        </div>
        <div class="mt-5 divide-y-2 md:divide-y-0  md:self-center md:col-span-2 flex md:justify-around md:w-1/2 r md:m-2 ">
            <SpringBootIcon/>
            <ReactIcon />
            <AstroIcon />
            <PostgresIcon />
            <div></div>
        </div>
    </div>
</div>