---
import AstroIcon from '../icons/AstroIcon.astro'
import PostgresIcon from '../icons/PostgresIcon.astro'
import ReactIcon from '../icons/ReactIcon.astro'
import SpringBootIcon from '../icons/SpringBootIcon.astro'
---

<div class="flex justify-center md:text-center items-center md:mt-20 text-white ml-10 mr-10 lg:ml-100 lg:mr-100">
    <div class="grid grid-cols-1 justify-items-center lg:grid-cols-3 lg:mt-30">
        <div class="size-50 lg:size-auto lg:ml-10 lg:col-start-3">
            <img class="rounded-full" src="/images/profilePhoto.webP" alt="foto Manuel Bedoya">
        </div>
        <div class="col-span-2 lg:col-start-1 lg:row-start-1">
            <h1 class="ml-10 lg:ml-auto text-4xl lg:text-6xl mt-10">✌🏻 Hola! Soy Manuel</h1>
            <div class="h-5"></div>
            <p class="text-lg mt-10">Ingeniero CLOUD especializado en transformar ideas en soluciones digitales exitosas. Ayudo a empresas y emprendedores a crecer en el mundo digital, creando sitios web y aplicaciones que no solo se ven bien, sino que generan resultados. Ya sea que necesites una presencia web profesional, una tienda en línea, o una aplicación personalizada, trabajo contigo para entender tus objetivos y crear la solución perfecta que impulse tu negocio hacia adelante.</p>
        </div>
        <div class="mt-5 divide-y-2 md:divide-y-0  md:self-center md:col-span-2 flex md:justify-around md:w-1/2 r md:m-2 ">
            <SpringBootIcon/>
            <ReactIcon />
            <AstroIcon />
            <PostgresIcon />
            <div></div>
        </div>
    </div>
</div>