---
import "../styles/global.css";
import '@fontsource-variable/onest';
import '@fontsource/luckiest-guy';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="./images/profilePhoto.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Manuel Bedoya - Ingeniero CLOUD</title>
	</head>
	<body>
		<div class="absolute inset-0 -z-10 h-full w-full items-center [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
		<slot/>
	</body>
</html>
<style is:global>

	body{
		font-family: 'Onest Variable', sans-serif;
	}
	h1{
        font-family: 'Luckiest Guy', system-ui;
    }
</style>